.adminCont {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

.adminCont {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.adminCont form input {
    padding: 5px;
    border: 1px solid black;
    border-radius: 0;
}

.adminCont button {
    padding: 5px;
    cursor: pointer;
    margin: 5px 0;
    display: block;
}

.adminGroupsCont button {
    width: 100px;
} 

.adminGroupsCont input {
    width: 300px;
}

.adminGroupsCont form {
    padding: 10px;
    border-bottom: 4px dotted blue;
}

/* ----Navbar----- */

.adminNavbar {
    position: sticky;
    top: 0;

}

.adminNavbar ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    background: #4CAF50;
    font-size: 20px;
}

.adminNavbar ul::after{
    content: "";
    display: table;
    clear: both;
}

.adminNavbar li {
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    color: white;
    float: left;
    cursor: pointer;
}

.adminNavbar li:hover {
    background: #127215;
}

.NavLeftSide {
    float: left;
}

.NavRightSide {
    float: right;
}

/* ------- */


.adminMainCont {
    background-image: url('../../../img/adminBG.jpg');
    min-height: 500px;
    height: 100vh;
    display: flex;
}


.adminProfile {
    display: inline-block;
    border-right: 4px dotted blue;
    max-width: 30%;
    min-width: 30%;
    padding: 10px;
    overflow: auto;
}

.dataBaseCont {
    display: inline-block;
    width: 100%;
    padding: 10px;
    overflow: auto;
}

.adminGroupItems, .adminUserItems {
    border-bottom: 1px solid red;
    margin: 10px 0;
    padding: 10px;

}

.adminUserItems button {
    width: 180px;
}

.adminGroupItems h4 {
    color: red;
}

.adminGroupsCont, 
.adminUsersCont, 
.adminVoteCont,
.adminArticleCont,  
.adminMsgesCont {
    padding: 10px 20px;
    font-size: 15px;
    overflow: auto;
}

.groupPopupForm {
    border: 1px dotted blue;
    padding: 5px;
}

.groupItemData {
    display: inline-block;
}

.groupItemTools button {
    width: 70px;
    display: inline-block;
    margin: 5px 5px 5px 0;
}

.groupPopupForm label {
    display: block;
}

.submitButton {
    cursor: pointer;
}

.publishSide {
    padding: 10px;
    border-bottom: 4px dotted blue;
}

.publishSide textarea {
    width: 95%;
    max-width: 98%;
    max-height: 300px;
    min-width: 138px;
    display: block;
}

.articleTitle {
    width: 42%;
}

.publishSide input {
    margin: 5px 0;
    display: block;
}

.monSide {
    max-width: 900px;
    overflow: auto
}


.setVotes {
    border-bottom: 4px dotted blue;
    padding: 10px;
}

.setVotes input, textarea {
    display: block;
    margin: 5px 0;
}

.setVotes textarea {
    resize: none;
}









/* @media screen and (max-width: 850px){
    div ul{
        width: 100%;
        height: auto;
        position: relative;
    }
    div ul li{
        float: left;
    }
    div.content{
        margin-left: 2px;
    }
    @media screen and (max-width: 520px){
        div ul li{
            float: none;
            text-align: center;
        }
    }
} */