footer {
  border: 1px solid #3B5998;
  background-color: #3b5998;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding-bottom: 5px;
}


#footerContent {
  display: flex;
  justify-content: space-around;
  max-height: 100px;
  min-height: 80px;
  padding: 5px 0;
  max-width: 90%;
  margin: 0 auto;
}

#subsGit {
  margin-top: 5px;
}

footer p {
  text-transform: uppercase;
}

footer button {
    display: inline-block;
    border: 1px solid silver;
    border-radius: 3px;
    margin: 1px 2px 2px -115px;
    width: 100px;
    cursor: pointer;
    font-size: 14px;
    color: grey;
    padding: 1px;
}

footer button:hover {
  background-color: #3B597F;
  color: #fff;
}

footer textarea {
  border: 1px solid silver;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 2px;
  max-width: 220px;
  max-height: 40px;
  min-width: 220px;
  min-height: 40px;
}

#github {
  display: flex;
  justify-content: space-around;
  max-width: 70%;
  margin: 8px auto 10px auto;
}

#textToAdmin {
 margin-top: 6px;
}


#github img {
  width: 25px;
}


#github img:hover {
  opacity: 0.5;
}


footer #tickLogo {
    width: 26px;
    position: absolute;
    margin-left: 10px;
    margin-top: -1px;
    visibility: hidden;
}

footer #cancelLogo {
    width: 26px;
    position: absolute;
    margin-top: -1px;
    margin-left: 10px;
    visibility: hidden;
}
