footer {
  border: 3px solid grey;
  border-radius: 30px;
  background-color: #F08080;
  padding: 1.5%;
  margin: 5px 0;
  color: #fff;
  text-align: center;
}
footer img {
  width: 30px;
  padding: 5px;
}

.info div {
display: inline-block;

}
footer p {
  display: inline-block;
  
}
