header {
  border: 1px solid #3B5998;
  background-color: #3b5998;
  padding: 1%;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

header img {
  width: 80px;
}

header button {
  display: inline-block;
  border: 1px solid silver;
  background-color: #3B597F;
  border-radius: 3px;
  width: 110px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  padding: 5px;
}

header button:hover {
  border-color: #fff;
}


.contactForm {
  position: absolute;
  /* background-color: rgba(0, 0, 0, 0.3); */
  top: 0; 
  left: 0;
  height: 100vh;
  width: 100%;
}

.contactFormCont {
  padding: 30px 30px;
  border-radius: 20px;  
  position: relative;
  background: white;
  border: 1px solid black;
  width: 25%;
  margin: auto;
  top: 50px;
  z-index: 200;
  /* -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 10px 10px 4px rgba(0, 0, 0, .5); */
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
}

@-webkit-keyframes mymove {
  50% {box-shadow: 10px 20px 30px red;}
}

@keyframes mymove {
  50% {box-shadow: 10px 20px 30px red;}
}

.contactFormContent {
  padding: 10px;
  margin: auto;
  width: 90%;
}

.contactFormContent p {
  color: black;
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
}

.contactBtn {
  margin-top: 20px;
}

.formCloseIcon {
  color: black;
  float: right;
  cursor: pointer;
}

.formCloseIcon:hover {
  color: #3B597F;
}
