header {
  border: 1px solid grey;
  background-color: #3b5998;
  padding: 1%;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

header img {
  width: 80px;
}

header button {
  display: inline-block;
  border: 1px solid silver;
  border-radius: 3px;
  width: 110px;
  cursor: pointer;
  font-size: 14px;
  color: grey;
  padding: 5px;
}

header button:hover {
background-color: #3B597F;
color: #fff;
}


.contactForm {
  position: absolute;
  top: 0; 
  width: 99%;
  z-index: 554;
}

.contactFormCont {
  padding: 30px 30px;
  border-radius: 20px;  
  position: relative;
  background: oldlace;
  border: 1px solid black;
  width: 30%;
  margin: auto;
  top: 50px;
  z-index: 555;
}

.contactFormContent {
  padding: 10px;
  margin: auto;
  width: 90%;
}

.contactFormContent p {
  color: black;
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
}

.contactBtn {
  margin-top: 20px;
}

.formCloseIcon {
  color: black;
  float: right;
  cursor: pointer;
}

.formCloseIcon:hover {
  color: #3B597F;
}
