header {
  border: 1px solid grey;
  background-color: #3b5998;
  padding: 1%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  text-align: center;
}

header h1 {
  margin-top: 5px;
}

header img {
  width: 80px;
  margin-left: 20%;
}

