#homeWrapper {
    padding: 4%;
    display: table;
    width: 92%;
    height: -webkit-fill-available;
    background-color: #3B597F;
    text-align: center;
    color: #333;
}

#homeWrapper a{
    text-decoration: none;
}

#refSection {
    display: flex;
    justify-content: space-evenly;
}

#welcomeSection {
    background-color: #3B5998;
    color: #fff;
    padding: 10px;
    max-width: 90%;
    margin: -20px auto 60px auto;
    border: 1px solid grey;
    border-radius: 20px;
}
#welcomeSection h1 {
    margin-top: -40px;
}

#welcomeSection #userInfo {  
    border: 3px solid grey;
    width: max-content;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    display: none;
    background-color: #3B597F;
    color: #fff;
}

#welcomeSection #userInfo:hover {
    background-color: #fff;
    color: #333;
}

#refSection a {
    padding: 40px;
    background-color: beige;
    border: 3px solid grey;
    border-radius: 20px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

#refSection a:hover {
    background-color: #3B5998;
    border-color: #fff;
    color: #F5F5DC;
}

#toReferPage {
    padding: 50px; 
    background-color: beige; 
    border: 3px solid grey;
    border-radius: 20px;
    max-width: 70%;
    margin: 50px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

#toReferPage h1{
    padding: 5px;
    margin-bottom: 40px;
}

#toReferPage select {
    padding: 16px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    background-color: #fff;
    color: #444;
    text-align: center;
    border: 3px solid grey;
    border-radius: 10px;
    margin-left: 10px;
}

#toReferPage select:hover {
  border-color: #1453A1;
}

textarea {
  width: 50%;
  margin: 20px auto;
  border: 3px solid grey;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
}

#messages {
    background-color: #3B597F;
    color: #F5F5DC;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid grey;
    display: grid;
}

#messages:hover {
    background-color: #3B5998;
}

#messages p {
    padding: 10px;
    border: 3px solid grey;
    border-radius: 10px;
    margin: 20px;
    background-color: #fff;
    font-weight: bold;
    color: #222;
    line-height: 20px;
    cursor: pointer;
    word-wrap: break-word;
    font-size: 16px;
    font-weight: normal;
 }

 #messages hr {
     margin: 10px 0;
 }

#messages h4, #messages h5 {
    margin: 5px;
}

 #paragWrapper {
     max-width: 100%;
     overflow: hidden;
     word-wrap: break-word;
 }

/* ---------------------- vote  -----------------------*/

.inputTypography {
    padding: 10px;
    margin: 10px;
    border: 3px solid grey;
    border-radius: 10px;
}

#buttonTypography {
    padding: 10px;
    margin-left: 40%;
    border: 3px solid grey;
    border-radius: 10px;
    cursor: pointer;
}

#like_unlike_container {
    display: flex;
    justify-content: space-around;
}

#like_unlike_container img {
    width: 40px;
    cursor: pointer;
    margin-bottom: 10px;
}

#like_unlike_container img:hover {
   opacity: 0.5;
}

#like_unlike_container img:active {
    opacity: 0.9;
}