#homeWrapper {
    padding: 4%;
    display: table;
    width: 92%;
    height: -webkit-fill-available;
    background-color: #D8BFD8;
    background-image: linear-gradient(#789ce8, #fff);
    text-align: center;
    color: #333;
}

#homeWrapper a {
    text-decoration: none;
}

#homeWrapper #refSection a img{
    background-color: #fff;
}

#refSection {
    display: flex;
    justify-content: space-evenly;
}

#welcomeSection {
    background-color: #fff;
    color: #3F51B5;
    padding: 10px;
    max-width: 85%;
    margin: -20px auto 30px auto;
    border: 1px solid #3B5998;
    border-radius: 10px;
}
#welcomeSection h2 {
    margin-top: -33px;
}

#welcomeSection h3 {
    margin-top: -30px;
}

#welcomeSection #userInfo {  
    border: 1px dashed #3B5998;
    margin: 10px auto;
    border-radius: 10px;
    background-color: #fff;
    font-size: 14px;
    color: #444;
    width: 60%;
    padding: 10px 30px;
    display: none;
}


#welcomeSection li {
    font-size: 16px;
}
/*  =========================================================================== */
/* #refSection a {
    padding: 6px 5px 2px 5px;
    background-color: #91C1EA;
    border: 3px solid #3B5998;
    border-radius: 10px;
} */

#refSection img {
    width: 70px;
    height: 60px;
    border: 2px solid #3B5998;
    border-radius: 10px;
}

#refSection img:hover {
    border-color: #202AFF;
    opacity: 0.5;
}

 #refSection img:active {
    opacity: 1;
} 

#toReferPage {
    padding: 30px 10px 50px 10px;
    background-color: #fff; 
    border: 1px solid #3B5998;
    border-radius: 10px;
    max-width: 80%;
    margin: 50px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    position: relative;
    overflow: auto;
    box-sizing: border-box;

}

#toReferPage h2{
    margin-bottom: 50px;
    text-decoration: underline;
    color: #3B5998;
}

#toReferPage h4 {
    margin-bottom: -10px;
    margin-left: 10%;
}

#toReferPage select {
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
    color: #1F389D;
    border: 1px solid #3B5998;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}


#toReferPage #tickLogoSendText {
    width: 50px;
    margin-left: 40%;
    margin-top: -43px;
    visibility: hidden;
}

#toReferPage #cancelLogoSendText {
    width: 50px;
    margin-left: 40%;
    margin-top: -50px;
    visibility: hidden;
}

#toReferPage textarea {
  max-width: 90%;
  min-width: 90%;
  max-height: 200px;
  min-height: 200px;
  margin: 20px auto;
  border: 1px solid #3B5998;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  box-sizing: border-box;
  color: darkblue;
}

#sendTextLogo {
    width: 50px;
    margin-bottom: -15px;
    padding-left: 20px;
}

/*  ====================================================== */


/* =================================  Messages to user  ===================================== */

#toReferPageMsgToUser {
    background-color: #fff; 
    border: 1px solid #3B5998;
    border-radius: 10px;
    padding: 30px 0;
    max-width: 80%;
    margin: 50px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: #3B5998;
    box-sizing: border-box;
}

#toReferPageMsgToUser h2{
    text-decoration: underline;
    margin: 10px 0 30px 0;
}

#messagesToUser {
    background-color: #3D82C7;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #3B5998;
    width: 50%;
    margin: 10px auto 20px auto;
    padding: 5px 0;
    display: inline-grid;
}

#messagesToUser p {
    border: 1px solid #3B5998;
    border-radius: 5px;
    background-color: aliceblue;
    font-weight: bold;
    color: #333;
    line-height: 20px;
    word-wrap: break-word;
    font-size: 14px;
    font-weight: normal;
    max-width: 76%;
    margin: 10px auto 10px auto;
    text-align: center;
    padding: 10px;
}

#messagesToUser h2 {
    text-decoration: none;
    margin-bottom: 0;
    color: #fff;
}

#messagesToUser:hover {
    background-color: #4593E1;
}

#messagesToUser h5 {
    margin: 5px auto;
}

#messagesToUser hr {
    margin-top: 10px;
    margin-bottom: 5px;
}

.responseMsg button {
    padding: 5px;
    border: 2px solid #3B5998;
    border-radius: 5px;
    margin: 0 0 5px 0;
    width: 100px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #3B5998;
    background-color: #fff;
}

.responseMsg button:hover {
    background-color: #9EC8DF;
}

.responseMsg button:active {
    background-color: #fff;
}

.responseMsg textarea {
    margin: 0 auto -10px auto !important;
    width: 60% !important;
    border: 2px solid #3B5998;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px !important;
}


.icons {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
}

.sendMsgIcon, .deleteMsgIcon {
    width: 35px;
    background-color: #fff;
    border: 2px solid #3B5998;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 10px;
}


.sendMsgIcon:hover, .deleteMsgIcon:hover {
    cursor: pointer;
    background-color: #9AD0FF;
}

.deleteMsgIcon:hover {
    background-color: #f50057;
}

#paragWrapper {
    overflow: hidden;
}

.noMessages h3{
    margin-left: 40px;
    padding: 10px;
}

.noMessages img{
   position: absolute;
   width: 48px;
   margin: 10px 15px;
}

#messages p {
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #91D3FF;
    font-weight: bold;
    color: #333;
    line-height: 20px;
    word-wrap: break-word;
    font-size: 14px;
    font-weight: normal;
    max-width: 60%;
    margin: 10px auto;
 }

 #messages hr {
     margin: 10px 0;
 }

#messages h4, #messages h5 {
    margin: 5px;
}


/* ---------------------- vote  ----------------------- */

#toReferPageVote {  
    background-color: #fff;
    border: 1px solid #6A16BE;
    border-radius: 10px;
    max-width: 90%;
    min-width: 90%;
    margin: 50px auto;
    display: table;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    padding: 40px 30px;
    box-sizing: border-box;
}

#messagesVote {
    background-color: #773BB2;
    color: #F5F5DC;
    padding-top: 10px;
    border-radius: 10px;
    border: 1px solid #6A16BE;
    display: inline-grid;
    margin: 10px 5px;
    width: 32%;
    max-height: 235px;
    min-height: 235px;
    min-width: 208px;
}

#messagesVote:hover {
    background-color: #6A16BE;
    border-color: #6A16BE;
}

#voteHead {
    border: 1px solid rebeccapurple;
    max-width: 350px;
    margin: 10px auto 25px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    font-family: cursive;
    color: #773BB2;
}

#voteHead:hover {
    border-style: dotted;
}

#messagesVote h5, #messagesVote h6 {
    margin: 2.5px 0;
}
#messagesVote h4 {
    max-width: 90%;
    margin: 0 auto;
    text-overflow: ellipsis;
}

#messagesVote hr {
    margin: 10px 0 10px 0;
}

#messagesVote #paragWrapper p {
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: aliceblue;
    font-weight: bold;
    color: #333;
    line-height: 20px;
    word-wrap: break-word;
    font-size: 14px;
    font-weight: normal;
    max-width: 80%;
    margin: 10px auto;
    overflow-y: auto;
    max-height: 22px;
}


.titleTypography {
    padding: 10px;
    margin-top: 15px;
    border: 2px solid #FFC44A;
    border-radius: 5px;
    width: 94%;
}

.descTypography {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #FFC44A;
    border-radius: 5px;
    width: 94%;
}

.headTypography {
    color: #fff;
    text-align: center;
    font-weight: bold;
}

#buttonTypography {
    padding: 10px;
    border: 2px solid #FFC44A;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
    color: orange;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
}

#buttonTypography:hover {
    background-color: #FFC44A;
    color: #fff;
    border-color: #fff;
}

#buttonTypography:active {
    background-color: #FFF377;
    color: #fff;
}


#like_unlike_container {
    display: flex;
    justify-content: space-around;
    position: relative;
}

#like_unlike_container img {
    width: 26px;
    cursor: pointer;
    margin-bottom: 5px;
}

#like_unlike_container img:hover {
   opacity: 0.5;
}

#like_unlike_container img:active {
    opacity: 1;
}

#like_unlike_container button {
    margin-top: 10px;
    padding: 5px;
    background-color: #3B5998;
    color: #fff;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

.popupHidden {
    width: 300px;
    position: absolute;
    border: 3px solid #FF8000;
    border-radius: 20px;
    height: 280px;
    background-color: #fff;
    visibility: hidden;
    overflow-y: auto;
    bottom: -20px;
    z-index: 100;
    opacity: 0;
    transition: opacity 1s;
}

.popupHidden p {
    background-color: #FF8000;
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-weight: bold;
    line-height: 20px;
    max-width: 80%;
    margin: 10px auto;
    font-size: 14px;
}

.popupHidden h4 {
    margin: 15px auto !important;
    color: #FF8000;
    text-decoration: underline;
}

.popupHidden .closeIcon {
    position: absolute;
    right: 2%;
    margin-top: 6px;
    padding: 0;
}

/* ======================== Messages from me  ======================== */

#toReferPageMsgFromMe {
    background-color: #fff; 
    border: 1px solid #3B5998;
    border-radius: 10px;
    padding: 30px 0;
    max-width: 80%;
    margin: 50px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    box-sizing: border-box;
}

#headTitle {
    margin: -30px 0 20px 40px;
    font-family: cursive, sans-serif;
    color: #38803A;
    text-decoration: underline;
}

#messagesFromUser {
    background-color: #47A34A;
    color: #fff;
    border-radius: 10px;
    border: 1px solid green;
    width: 50%;
    margin: 15px auto 20px auto;
    padding: 5px 0;
    position: relative;
    display: inline-grid;
}

#messagesFromUser p {
    border: 1px solid #47A34A;
    border-radius: 5px;
    background-color: aliceblue;
    font-weight: bold;
    color: #333;
    line-height: 20px;
    word-wrap: break-word;
    font-size: 14px;
    font-weight: normal;
    max-width: 60%;
    margin: 10px auto 10px auto;
    text-align: center;
    padding: 10px;
}

#messagesFromUser h2 {
    text-decoration: none;
    margin-bottom: 5px;
    color: #fff;
}

#messagesFromUser:hover {
    background-color: #38803A;
}

#messagesFromUser h5 {
    margin: 5px auto;
}

#messagesFromUser hr {
    margin-top: 10px;
    margin-bottom: 5px;
}

.deleteMsgIcon2 {
    width: 30px;
    background-color: #fff;
    border: 2px solid red;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 10px;
    position: absolute;
    top: 5%;
    right: 1%;
}

.deleteMsgIcon2:hover {
    cursor: pointer;
    background-color: #FF7494;
}

.deleteMsgIcon2:active {
    background-color: #FF4D77;
}
