#homeWrapper {
    padding: 4%;
    display: table;
    width: 92%;
    height: -webkit-fill-available;
    background-color: #3B597F;
    text-align: center;
    color: #333;
}

#homeWrapper a{
    text-decoration: none;
}

#refSection {
    display: flex;
    justify-content: space-evenly;
}

#welcomeSection {
    background-color: #3B5998;
    color: #fff;
    padding: 10px;
    max-width: 80%;
    margin: -20px auto 30px auto;
    border: 1px solid grey;
    border-radius: 10px;
}
#welcomeSection h2 {
    margin-top: -40px;
}

#welcomeSection h3 {
    margin-top: -30px;
}

#welcomeSection #userInfo {  
    border: 1px solid grey;
    width: max-content;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    display: none;
    background-color: #3B597F;
    font-size: 14px;
}

#welcomeSection #userInfo:hover {
    background-color: #fff;
    color: #333;
}

/*  =========================================================================== */
#refSection a {
    padding: 6px 5px 2px 5px;
    background-color: silver;
    border: 3px solid grey;
    border-radius: 10px;
}

#refSection img {
    width: 90px;
    height: 80px;
    border: 3px solid grey;
    border-radius: 10px;
}

#refSection a:hover {
    background-color: #fff;
    border-color: grey;
    color: #F5F5DC;
}

#toReferPage {
    padding: 20px 10px 30px 10px;
    background-color: silver; 
    border: 3px solid grey;
    border-radius: 10px;
    max-width: 60%;
    margin: 50px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

#toReferPage h2{
    padding: 5px;
    margin-bottom: 30px;
    text-decoration: underline;
}

#toReferPage h4 {
    margin-bottom: -10px;
}
#toReferPage select {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    background-color: #fff;
    color: #333;
    border: 1px solid grey;
    border-radius: 10px;
    width: max-content;
    margin: 0 auto;
}

#toReferPage select:hover {
  border-color: #1453A1;
}

#homeWrapper  textarea {
  width: 40%;
  margin: 20px auto;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px;
  font-size: 14px;
}

#sendTextLogo {
    width: 45px;
    position: absolute;
    margin-left: 36%;
    margin-top: -2px;
    
}

/*  ====================================================== */

/* ===================  Messages to user  ========================= */

#toReferPageMessToUser {
    background-color: silver; 
    border: 3px solid grey;
    border-radius: 10px;
    padding-bottom: 10px;
    max-width: 60%;
    margin: 50px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

#toReferPageMessToUser h2{
    margin: 10px auto;
    text-decoration: underline;
    font-family: cursive, sans-serif;
    color: #3B597F;
}


#messagesToUser {
    background-color: #3B597F;
    color: #F5F5DC;
    border-radius: 10px;
    border: 3px solid grey;
    display: grid;
    width: 60%;
    margin: 10px auto 20px auto;
}

#messagesToUser p {
    border: 1px solid grey;
    border-radius: 5px;
    background-color: aliceblue;
    font-weight: bold;
    color: #333;
    line-height: 20px;
    word-wrap: break-word;
    font-size: 14px;
    font-weight: normal;
    max-width: 80%;
    margin: 10px auto 10px auto;
    text-align: center;
    padding: 10px;
}

#messagesToUser h2 {
    text-decoration: none;
    margin-bottom: 0;
    color: #fff;
}

#messagesToUser:hover {
    background-color: #3B5998;
}

#messagesToUser h5 {
    margin: 5px auto;
}

#messagesToUser hr {
    margin-top: 10px;
    margin-bottom: 5px;
}

.responseMsg button{
    padding: 2px;
    border: 1px solid silver;
    border-radius: 5px;
    margin: -2px 0 5px 0;
    width: 60px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: grey;
    background-color: #fff;
}


.responseMsg button:hover {
    color: #fff;
    background-color: #3B597F;
}

.responseMsg textarea {
    margin: -10px auto 5px auto !important;
    width: 30% !important;
    border-radius: 5px !important;
    border-width: 2px !important;
    border-style: solid !important;
    font-size: 12px !important;
}


.icons {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
}

.sendMsgIcon, .deleteMsgIcon {
    width: 35px;
    background-color: silver;
    border: 3px solid grey;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 10px;
}


.sendMsgIcon:hover, .deleteMsgIcon:hover {
    cursor: pointer;
    background-color: #9AD0FF;
}

.deleteMsgIcon:hover {
    background-color: #f50057;
}

#paragWrapper {
    overflow: hidden;
}

.noMessages h3{
    margin-left: 40px;
}

.noMessages img{
   position: absolute;
   width: 48px;
   margin: 3px 15px;
}

#messages p {
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #91D3FF;
    font-weight: bold;
    color: #333;
    line-height: 20px;
    word-wrap: break-word;
    font-size: 14px;
    font-weight: normal;
    max-width: 60%;
    margin: 10px auto;
 }

 #messages hr {
     margin: 10px 0;
 }

#messages h4, #messages h5 {
    margin: 5px;
}


/* ---------------------- vote  -----------------------*/

#toReferPageVote {  
    background-color: silver;
    border: 3px solid grey;
    border-radius: 10px;
    max-width: 70%;
    margin: 50px auto;
    display: table;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

#messagesVote {
    background-color: #3B597F;
    color: #F5F5DC;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid grey;
    display: inline-table;
    width: 38%;
    margin: 15px 20px;
}

#messagesVote:hover {
    background-color: #3B5998;
}

#voteHead {
    border: 3px solid grey;
    max-width: 350px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    background-color: #fff;
    font-family: cursive;
}

#voteHead:hover {
    border-color: #fff;
    background-color: silver;
}

#messagesVote h5, #messagesVote h6 {
    margin: 2.5px 0;
}

#messagesVote hr {
    margin: 5px 0;
}


#messagesVote p {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: aliceblue;
    font-weight: bold;
    color: #333;
    line-height: 20px;
    word-wrap: break-word;
    font-size: 14px;
    font-weight: normal;
    max-width: 80%;
    margin: 10px auto;
    overflow-y: auto;
    max-height: 100px;
 }


.inputTypography {
    padding: 10px;
    margin: 10px;
    border: 3px solid grey;
    border-radius: 10px;
}

#buttonTypography {
    padding: 10px;
    margin-left: 40%;
    border: 3px solid grey;
    border-radius: 10px;
    cursor: pointer;
}

#like_unlike_container {
    display: flex;
    justify-content: space-around;
}

#like_unlike_container img {
    width: 26px;
    cursor: pointer;
    margin-bottom: 5px;
}

#like_unlike_container img:hover {
   opacity: 0.5;
}

#like_unlike_container img:active {
    opacity: 1;
}

#like_unlike_container button {
    margin-top: 10px;
    padding: 5px;
    background-color: #3B5998;
    color: #fff;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

.popupHidden {
    width: 350px;
    position: absolute;
    border: 1px solid #fff;
    height: 200px;
    background-color: lightskyblue;
    visibility: hidden;
    right: 35%;
    overflow-y: auto;
    margin-top: -150px;
}

.popupHidden h4 {
    margin: 10px 30px 10px 5px;
    color: #0067C1;
    text-decoration: underline;
}

.popupHidden .closeIcon {
    position: absolute;
    right: 2%;
    margin-top: 6px;
    padding: 0;
} 

