.leftSide {
  width: auto;
  padding: 10px;
  margin-right: 2%;
  text-align: center;
  display: table-cell;
  font-family: cursive;
  color: slategrey;
}

.leftSideWrapper {
  max-width: 80%;
  margin: 0 auto;
}

.leftSideWrapper h1{
  padding: 40px;
  margin-top: -20px;
  color: #3B5998;
  text-decoration-style: solid; 
  text-decoration-color: slategrey;
}

.groupsContainer {
  display: table;
}

.groups {
  margin: 10px auto;
  display: inline-table;
  cursor: pointer;
}

.groups h2 {
    border: 3px solid slategrey;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    background-image:url("../../../img/bg.jpg");
    font-size: 20px;
    color: floralwhite;
}