* {
  margin: 0;
  padding: 0
}

body {
  /* background-image: linear-gradient(#EABF6D, pink); */
  background-color: #dfe3ee;
}
.App {
  max-width: 100%;
  margin: 0 auto;
  font-family: cursive, sans-serif;
}

main {
  padding: 2%;
  display: table;
  width: 96%;
  height: -webkit-fill-available;
  /* background-image: linear-gradient(white, pink); */
  background-color: #dfe3ee
}